# Provides user access to specific handheld console hardware input devices so
# they can be manged. Devices are typically detected as a keyboard or mouse and
# provide macro events that are triggered when one of the face buttons.

# Filter to only when adding input event devices.
ACTION!="add", GOTO="end"
KERNEL!="event*", GOTO="end"
SUBSYSTEM!="input", GOTO="end"

# Search for compatible/tested devices.
ATTRS{name}=="  Mouse for Windows", ATTRS{phys}=="usb-0000:73:00.4-2/input1|usb-0000:74:00.3-4/input1", ENV{ID_INPUT_JOYSTICK}==1,  GOTO="assign_mode"
ATTRS{name}=="AT Translated Set 2 keyboard", ATTRS{phys}=="isa0060/serio0/input0", ENV{ID_INPUT_JOYSTICK}==1, GOTO="assign_mode"
GOTO="end"

# Add desired attribute
LABEL="assign_mode"
MODE="0660"

LABEL="end"
