[Unit]
Description=OpenGamepadui in Overlay Mode
After=multi-user.target

[Service]
ExecStart=/usr/bin/opengamepadui --overlay-mode

[Install]
WantedBy=default.target
