# Startup systemd unit for Gamescope session meant to be started by a script.
# Logs will go to journal and logged into /run/user/$USER
# This is the way Valve does it, we add our own file structure and scripts
[Unit]
Description=OpenGamepadUI Session
BindsTo=graphical-session.target
Before=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

[Service]
ExecStart=/usr/share/opengamepadui-session/gamescope-session-script
# This is a temporary workaround for the some proton apps becoming
# confused by the AF_UNIX socket they get for the stdout when the
# service outputs to the journal. (e.g.  Vampire Survivors).
StandardOutput=append:%t/ogui-session.log
StandardError=append:%t/ogui-session.log
