[Unit]
Description=OpenGamepadUI systemd-sysext updater
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "~/.local/bin/update_systemd_ext.sh"

[Install]
WantedBy=default.target
